.app {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/backgroundDay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
