@import "./mixins.scss";

.errorDescriptionContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 50px 50px;
    @include media(small) {
      font-size: 2rem;
    }
    @include media(medium) {
      font-size: 2.5rem;
    }
    @include media(large) {
      font-size: 3rem;
    }
    @include media(xlarge) {
      font-size: 3.5rem;
    }
    @include media(xxlarge) {
      font-size: 4rem;
    }
  }
  span {
    font-size: 8rem;
    font-weight: bold;
    @include media(small) {
      font-size: 12rem;
    }
    @include media(medium) {
      font-size: 16rem;
    }
    @include media(large) {
      font-size: 20rem;
    }
    @include media(xlarge) {
      font-size: 24rem;
    }
    @include media(xxlarge) {
      font-size: 26rem;
    }
  }
}
