@import "./mixins.scss";

.weatherPanelContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  width: 90%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  box-shadow: 0 0 5px 2px black;
  overflow: hidden;
  @media (orientation: landscape) {
    width: 80%;
    height: 80%;
  }
  &--night {
    box-shadow: 0 0 5px 2px white;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }
  &__video {
    width: 100%;
    @media (orientation: landscape) {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
    }
  }
  &__panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media (orientation: landscape) {
      align-items: flex-end;
      padding: 3% 4% 0 0;
    }
    h1 {
      padding: 1% 0 0;
      @media (orientation: landscape) {
        font-size: 20px;
      }
      @include media(small) {
        font-size: 25px;
      }
      @include media(medium) {
        font-size: 30px;
      }
      @include media(large) {
        font-size: 40px;
      }
      @include media(xlarge) {
        font-size: 45px;
      }
      @include media(xxlarge) {
        font-size: 55px;
      }
    }
    &__timeAndDescription {
      font-size: 16px;
      @media (orientation: landscape) {
        max-width: 45%;
        text-align: right;
      }
      @include media(small) {
        font-size: 20px;
      }
      @include media(medium) {
        font-size: 25px;
      }
      @include media(large) {
        font-size: 30px;
      }
      @include media(xlarge) {
        font-size: 35px;
      }
      @include media(xxlarge) {
        font-size: 40px;
      }
    }
    &__timeAndDescription:last-of-type {
      padding-bottom: 3%;
    }
    &__strong {
      border-top: 1px solid black;
      font-size: 70px;
      width: 90%;
      text-align: center;
      @media (orientation: landscape) {
        width: 45%;
      }
      @include media(small) {
        font-size: 90px;
      }
      @include media(medium) {
        font-size: 110px;
      }
      @include media(large) {
        font-size: 140px;
      }
      @include media(xlarge) {
        font-size: 170px;
      }
      @include media(xxlarge) {
        font-size: 200px;
      }
      &--night {
        border-top: 1px solid white;
      }
    }
    .otherParametersContainer {
      display: flex;
      flex-grow: 1;
      font-size: 14px;
      flex-direction: column;
      width: 90%;
      @media (orientation: landscape) {
        width: 50%;
        align-self: flex-start;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0 0.5% 2%;
        font-size: 10px;
      }
      @include media(small) {
        font-size: 12px;
      }
      @include media(medium) {
        font-size: 14px;
      }
      @include media(large) {
        font-size: 16px;
      }
      @include media(xlarge) {
        font-size: 18px;
      }
      &__element {
        display: flex;
        justify-content: space-evenly;
        padding: 2% 0;
        border-bottom: 1px solid black;
        &--night {
          border-bottom: 1px solid white;
        }
        &__description {
          display: flex;
          flex-direction: column;
          text-align: center;
          &__value {
            padding-top: 2%;
            font-weight: bold;
          }
        }
      }
      &__element:last-of-type {
        border: none;
      }
    }
  }
}
