@import "./mixins.scss";

.weatherPanelContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  width: 90%;
  min-height: 300px;
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  box-shadow: 0 0 5px 2px black;
  overflow: hidden;
  @media (orientation: landscape) {
    width: 80%;
  }
  &--night {
    box-shadow: 0 0 5px 2px white;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }
  &__videoContainer {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    @media (orientation: landscape) {
      height: 150px;
      @include media(small) {
        height: 160px;
      }
      @include media(medium) {
        height: 170px;
        @media (max-height: 400px) {
          height: 150px;
        }
      }
      @include media(large) {
        height: 190px;
      }
      @include media(xlarge) {
        height: 250px;
      }
      @include media(xxlarge) {
        height: 380px;
      }
    }
    &__video {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      @media (orientation: landscape) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media (orientation: landscape) {
      align-items: flex-end;
      justify-content: end;
      padding-right: 10px;
      @include media(small) {
        padding-right: 20px;
      }
      @include media(medium) {
        padding-right: 30px;
      }
      @include media(large) {
        padding-right: 40px;
      }
      @include media(xlarge) {
        padding-right: 50px;
      }
      @include media(xxlarge) {
        padding-right: 60px;
      }
    }
    h1 {
      padding-top: 10px;
      font-size: 2rem;
      @include media(small) {
        font-size: 2.5rem;
      }
      @include media(medium) {
        font-size: 3rem;
      }
      @include media(large) {
        font-size: 3.5rem;
      }
      @include media(xlarge) {
        font-size: 5rem;
      }
      @include media(xxlarge) {
        font-size: 7rem;
      }
    }
    &__timeAndDescription {
      font-size: 1.3rem;
      @media (orientation: landscape) {
        max-width: 45%;
        text-align: right;
      }
      @include media(small) {
        font-size: 1.6rem;
      }
      @include media(medium) {
        font-size: 1.9rem;
      }
      @include media(large) {
        font-size: 2.2rem;
      }
      @include media(xlarge) {
        font-size: 3rem;
      }
      @include media(xxlarge) {
        font-size: 3.5rem;
      }
    }
    &__timeAndDescription:last-of-type {
      padding-bottom: 10px;
    }
    &__strong {
      border-top: 1px solid black;
      font-size: 6rem;
      text-align: center;
      width: 90%;
      @media (orientation: landscape) {
        text-align: right;
        width: 45%;
      }
      @include media(small) {
        font-size: 8rem;
      }
      @include media(medium) {
        font-size: 10rem;
      }
      @include media(large) {
        font-size: 12rem;
      }
      @include media(xlarge) {
        font-size: 16rem;
      }
      @include media(xxlarge) {
        font-size: 20rem;
      }
      &--night {
        border-top: 1px solid white;
      }
    }
    .otherParametersContainer {
      display: flex;
      flex-grow: 1;
      font-size: 1rem;
      flex-direction: column;
      width: 90%;
      @media (orientation: landscape) {
        width: 50%;
        align-self: flex-start;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0 10px 5px;
      }
      @include media(small) {
        font-size: 1.2rem;
        padding: 0 0 20px 10px;
      }
      @include media(medium) {
        font-size: 1.5rem;
        padding: 0 0 30px 15px;
      }
      @include media(large) {
        font-size: 1.8rem;
        padding: 0 0 40px 20px;
      }
      @include media(xlarge) {
        font-size: 2.5rem;
        padding: 0 0 50px 25px;
      }
      @include media(xxlarge) {
        font-size: 3.7rem;
        padding: 0 0 60px 30px;
      }
      &__element {
        display: flex;
        justify-content: space-evenly;
        padding: 5px 0;
        border-bottom: 1px solid black;
        &--night {
          border-bottom: 1px solid white;
        }
        &__description {
          display: flex;
          flex-direction: column;
          text-align: center;
          &__value {
            font-weight: bold;
          }
        }
      }
      &__element:last-of-type {
        border: none;
      }
    }
  }
}
